.btn {
   background-color: DodgerBlue;
   border: none;
   color: white;
   padding: 12px 16px;
   font-size: 16px;
   cursor: pointer;
}
.container{
   padding-left: 20px;
}
.description{
   padding-right: 300px;
}
.date{
   float: right;
}
/* Darker background on mouse-over */
.btn:hover {
   background-color: RoyalBlue;
}

.email{
   color: DodgerBlue;
}